<header>
    <nav>
      <ul class="navbar-ul">
        <li class="navbar-li navbar-logo">
          <a href="default.asp" class="oateyLogo"></a>
        </li>
        <li class="navbar-li">
          <a href="#" class="navbar-a">Home</a>
        </li>
        <li class="navbar-li">
          <a href="#" class="navbar-a">News</a>
        </li>
        <li class="navbar-li">
          <a href="#" class="navbar-a">Recipes</a>
        </li>
        <li class="navbar-li">
          <a href="#" class="navbar-a">Team</a>
        </li>
        <li class="navbar-li">
          <a href="#" class="navbar-a">Contact</a>
        </li>
        <li class="navbar-li">
          <a href="#" class="navbar-a">About</a>
        </li>
      </ul>
    </nav>
  </header>
