<header>
    <nav>
      <ul class="navbar-ul">
        <li class="navbar-li navbar-logo">
          <a href="default.asp" class="oateyLogo"></a>
        </li>
        <li routerlinkActive="active" class="navbar-li">
          <a  routerLink="/homepage" class="navbar-a">Home</a>
        </li>
        <li routerlinkActive="active" class="navbar-li">
          <a routerLink="/blog" class="navbar-a">Blog</a>
        </li>
        <li routerlinkActive="active" class="navbar-li">
          <a routerLink="/recipes" class="navbar-a">Recipes</a>
        </li>
        <li routerlinkActive="active" class="navbar-li">
          <a routerLink="/team" class="navbar-a">Team</a>
        </li>
        <li class="navbar-li">
          <a routerLink="contact" class="navbar-a">Contact</a>
        </li>
        <li class="navbar-li">
          <a routerLink="about" class="navbar-a">About</a>
        </li>
      </ul>
    </nav>
  </header>
