.footer {
  width: 100%;
  background: #001524;
}

.copyWriteText {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
}

.footer-row {
  display: inline-flex;
  width: 100%;
}

.footer-image {
  flex: -1%;
}

.vl {
  border-left: 5px solid white;
  height: 80%;
}

.footer-icons {
  width: 30%;
  flex: 30%;
  display: inline-block;
}

.footer-icon {
  display: flex;
  width: 40px;
  height: 40px;
  align-self: left;
  margin: 5px;
}
