<footer class="footer">
    <div class="footer-row">
      <div class="footer-image">
        <img src="../assets/14-1-300x144.png" alt="">
      </div>
      <!-- <div class="vl"></div> -->
      <div class="footer-icons">
        <a href="https://www.facebook.com/profile.php?id=100069874981950" target="_blank" rel="noreferrer noopener">
          <img class="footer-icon" src="../../assets/facebook-50.png" alt="Loading">
        </a>
        <a href="https://www.instagram.com/oatey.in/" target="_blank" rel="noreferrer noopener">
          <img class="footer-icon" src="../../assets/instagram-50.png" alt="Loading">
        </a>
        <a href="https://www.linkedin.com/company/oatey/  " target="_blank" rel="noreferrer noopener">
          <img class="footer-icon" src="../../assets/linkedin-50.png" alt="Loading">
        </a>
        
      </div>
    </div>
    <hr>
    <div class="copywriteDiv">
      <p class="copyWriteText">Copyright © 2021 | Oatey</p>
    </div>
</footer>