.imagediv {
  position: relative;
  width: 50%;
  display: inline-flex;
}

.testimonialImage {
  height: 200px;
  width: 200px;
  border-radius: 146px;
}

.row {
  display: inline-flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.col-1 {
  flex: 50%;
  float: left;
  align-items: center;
}

.oateyImagediv {
  size-adjust: inherit;
  display: inline-block;
}

.section3Image {
  width: 80%;
  height: 80%;
  border-radius: 140px;
}
.section3text {
  font-family: Comic Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
}
.oateyImage {
  margin: 20%;
  width: 80%;
  height: 100%;
  border-radius: 136px;
}

.halfrowheight {
  width: 100%;
  height: 50%;
}

.section4text {
  font-family: Comic Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: top;
}

/* .section1 {
    padding-top: 100px;
    padding-bottom: 100px;
  } */

.col-1-3 {
  display: block;
  height: 300px;
  width: 33.33%;
}
/* section 2 image class */
.section2Image {
  margin: 20%;
  width: 250px;
  height: 250px;
  border-radius: 126px;
}

.section2ImageDiv {
  width: 100%;
  height: 80%;
  display: inline-block;
}
.textDiv {
  width: 50%;
  text-align: center;
  font-family: Comic Neue;
  text-align: center;
  display: inline-block;
}

.section1Title {
  font-style: normal;
  font-weight: bold;
  font-size: 77px;
  line-height: 89px;
}

.align-content-center {
  height: 20%;
  width: 100%;
}

.section2text {
  height: 100%;
  font-family: Comic Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
}

.section1body {
  font-family: Comic Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 33px;
  text-align: center;
}
