<div class="home">
    <div id="section1" class="row">
      <div class="imagediv col-1">
        <div class="oateyImagediv">
          <img src="../assets/Music-Store-Etsy-Shop-Icon-17.png" class="oateyImage" alt="Error loading image"/>
        </div>
        <!-- <div class="oateyImage"></div> -->
      </div>
      <div class="textDiv col-1">
        <p class="section1Title">Oatally Awesome !</p>
        <p class="section1body">
          Our solution to your dairy problems? This amazingly fresh plant based, Oat Beverage produced in India, which is completely dairy free, gluten free, nut free and guilt free! Save the world, save our animals and save your health all in one bottle of Oatey.
        </p>
      </div>
    </div>
    <div id="section2" class="row">
        <div class="col-1-3">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/Music-Store-Etsy-Shop-Icon-12.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <p class="section2text">100% Oats</p>
          </div>
        </div>
        <div class="col-1-3">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/Music-Store-Etsy-Shop-Icon-27.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <p class="section2text">Lactose Free</p>
          </div>
        </div>
        <div class="col-1-3">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/Music-Store-Etsy-Shop-Icon-18.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <p class="section2text">Preservative free</p>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1-4">
            <div class="section2ImageDiv">
              <img src="../assets/6.png" alt="" class="section2Image">
            </div>
            <div class="align-content-center">
              <p class="section2text">Soy/Nut Free</p>
            </div>
        </div>
        <div class="col-1-4">
          <div class="section2ImageDiv">
            <img src="../assets/4-2.png" alt="" class="section2Image">
          </div>
          <div class="align-content-center">
            <p class="section2text">Heart friendly</p>
          </div>
      </div>
    </div>
    <div id="section3" class="row">
      <div class="col-1">
        <p class="section3text">Recipes and more</p>
      </div>
      <div class="col-1">
        <img class="section3Image" src="../assets/download.jfif" alt="error loading image">
      </div>
    </div>
    <div id="section4" class="row">
      <div class="col-1">
        <img class="section3Image" src="../assets/Music-Store-Etsy-Shop-Icon-9.png" alt="error loading image"/>
      </div>
      <div class="col-1">
        <p class="section3text halfrowheight">Curious about us!</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="main-heading">Testimonials</h1>
    <div class="content">
      <!-- <div class="carousel-content">

      </div> -->
      <div class="slideshow">
        <button class="slide-btn slide-btn-1"></button>
        <button class="slide-btn slide-btn-2"></button>
        <button class="slide-btn slide-btn-3"></button>
        <button class="slide-btn slide-btn-4"></button>
        <div class="slideshow-wrapper">
          <div class="slide">
            <div class="row">
              <div class="testimonial-image-div">
                <img class="testimonialImage" src="../assets/image.png" alt="Error loading Image">
              </div>
              <div class="testimonialContentDiv">
                <p class="testimonial-from">Adwaith Venkatesh</p>
                <p class="testimonial-designation">(Consultant & Retail SME at Deloitte India)
                </p>
                <p class="testimonial-content">
                  Post wedding, the joy of getting married, did appear on my waistline with digestion problems… My Ayurvedic doctor put me on a Non dairy diet regime. Luckily, those days my friend told me about OATEY Oat milk, and I must say this new kid in the block is going to be a Hit!! Oatey milk has immensely improved my gut health(reduced numbers on the scale) and made me more active and energetic.
                </p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
              <div class="testimonial-image-div">
                <img class="testimonialImage" src="../assets/Oatey-testimonial.png" alt="Error loading Image">
              </div>
              <div class="testimonialContentDiv">
                <p class="testimonial-from">Mohit Bansal</p>
                <p class="testimonial-designation">(Director of Ops – Mastree (Edutech))
                </p>
                <p class="testimonial-content">I tried OATEY recently & I was pleasantly surprised with its similarity in taste, texture and mouthfeel to regular dairy milk. I never expected a vegan milk to taste so close to the cow’s milk that we are used to drinking.
        what actually blew me over was the sustainability impact this can make on its development path.
        Love Oatey- Real Milk 👍
                </p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
              <div class="testimonial-image-div">
                <img class="testimonialImage" src="../assets/AP-Kumar-1.jpeg" alt="Error loading Image">
              </div>
              <div class="testimonialContentDiv">
                <p class="testimonial-from">Anupama Kumar</p>
                <p class="testimonial-designation">
                  (Founder – Typograph)
                </p>
                <p class="testimonial-content">
                  As a vegan milk consumer, I was on constant lookout for oatmilk in particular as all vegan milks were readily available in the market except oatmilk. Finding Oatey was like having my prayers answered because not only is it a great substitute for milk, it actually makes every drink taste better!
                </p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
              <div class="testimonial-image-div">
                <img class="testimonialImage" src="../assets/rajiv-testimonial.png" alt="Error loading Image">
              </div>
              <div class="testimonialContentDiv">
                <p class="testimonial-from">Rajiv Athreya</p>
                <p class="testimonial-designation">
                 Owner, Mood for Food Restaurants
                </p>
                <p class="testimonial-content">
                  While we introduced this (oats milk) in a small way, we could see the latent traction, positive responses & oat milk fan base slowly growing. I shall certainly be doing business with OATEY to create exclusivity and novel offerings for my customer base at MFF, as well as back home for my family
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>