<div class="container">
    <div class="row">
      <div class="col-75">
        <div class="block text-left">
          <h1>About Us</h1>
          <p>
              Make the tastier choice, guilt free!</p>
<p>
Our VISION is to build a sustainable plant based company to facilitate Healthy, Sustainable & Planet, Animal Friendly Living, without compromising on Taste or Quality! 
</p>
<p>
We are here to bring to the world, Tastier, Healthier, Greener & Kinder food choices! & that's why we are Oatally Awesome!!
</p>
<p> 
With the strength of HEALTH, power of SUSTAINABILITY, and the promise of great TASTE, we bring to you OATEY. It's not just OATS Milk, it's a choice!
</p>
<p> 
Every Liter of OATEY you consume, you save the planet 600 Liters of water, 2100 grams of CO<label class="subscript">2</label> emissions & 90 sq. ft. of land <label class="subscript">(*global averages)</label> . Now that's a lot of difference YOU can make, it's the power of choice!
</p>
<p> 
We manufacture the highest quality Oats Beverage from the finest Crop of Premium Oats; giving you the taste, texture & nutritional profile unparalleled amongst the plant based milk / beverage substitutes. We are vegan friendly, sustainable, lactose free, high in fiber (beta-glucans), nut free & carefully crafted with the goodness of Oats! Like Oats Milk, we are here to Stay, be good & do good! We are OATEY, We are Oatally Awesome! :)</p>
      </div>
      </div>
        
        <div class="col-25">
            <img class="about-image" src="../../assets/logo-option1-_anupama_.ico" alt="Error">
        </div>
    </div>
    <hr class="sectionBreak">
    <div class="section-title">
      <h2>Our Customers</h2>
    </div>
    <div id="section2" class="row">
      <div class="col-1-4">
        <div class="section2ImageDiv">
          <img class="section2Image borderRad" src="../assets/Nimos.png" alt="Error Loading Image"/>
        </div>
        <div class="align-content-center">
          <!-- <p class="section2text">Milano Ice Cream</p> -->
        </div>
      </div>
        <div class="col-1-4">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/milano-ice-cream.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <!-- <p class="section2text">Milano Ice Cream</p> -->
          </div>
        </div>
        <div class="col-1-4">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/hatti-kaapi.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <!-- <p class="section2text">Hatti-Kaapi</p> -->
          </div>
        </div>
        <div class="col-1-4">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/mood-for-food.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <!-- <p class="section2text">Mood for Food</p> -->
          </div>
        </div>
        <div class="col-1-4">
          <div class="section2ImageDiv">
            <img class="section2Image fullsize margin-left-0" src="../assets/coffee-Mechanic.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <!-- <p class="section2text">Mood for Food</p> -->
          </div>
        </div>
    </div>
    <hr class="sectionBreak">
    <!-- the Team Section -->
</div>
