<div id="chatApp">
    <div class="chatBox" id="chatBox">
      <div class="card">
     
      <header class="card-header header-title" (click)="collapseChatBox()">
          <p class="card-header-title">
            <i class="fa fa-circle is-online"></i><img src="../../assets/logo-option1-_anupama_.ico" style="width: 30px;" alt="error">&nbsp;{{headUser}}
          </p>
          <a class="card-header-icon">
            <span class="icon">
              <i class="fa fa-close"></i>
            </span>
          </a>
      </header>
      
      <div id="chatbox-area">
        <div class="card-content chat-content">
          <div class="content">
            <div class="chat-message-group">
              <div class="chat-thumb">
                <figure class="image is-32x32">
                  <img class="is-32x32" src="../../assets/logo-option1-_anupama_.ico" alt="Error">
                </figure>
              </div>
              <div class="chat-messages">
                <div class="message">This is a to message</div>
                <div class="from">Hoje 04:55</div>
              </div>
            </div>
            <div class="chat-message-group writer-user">
              <div class="chat-messages">
                <div class="message">this is a from message</div>
                <div class="from">Hoje 04:55</div>
              </div>
            </div>
            <!-- <div class="chat-message-group">
              <div class="typing">Typing</div>
              <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
              </div>
            </div> -->
            <div *ngFor="let item of chatContainer">
                  <div innerHTML="{{item}}"></div> 
            </div>
          </div>
        </div>
        
            <form [formGroup]="chatForm" (ngSubmit)="OnSend()" >
              <footer class="card-footer" id="chatBox-textbox">
              <div style="width: 70%">
                  <textarea id="chatTextarea" formControlName="query" class="chat-textarea" placeholder="Digite aqui" ></textarea>
                </div>
                <div class="has-text-centered" style="width: 30%">
                  <!-- <a class="button is-white">
                    <i class="fa fa-smile-o fa-5" aria-hidden="true"></i>
                  </a> -->
                <button type="submit" class="button is-white">Send</button></div>  
              </footer>    
            </form>
        
        </div>
      </div>
    </div>
    <!-- <div class="emojiBox" style="display: none">
      <div class="box">
      
      </div>
    </div> -->
    
    </div>