<header>
  <nav>
    <ul class="navbar-ul">
      <li class="navbar-li navbar-logo">
        <a href="default.asp" class="oateyLogo"></a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">Home</a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">News</a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">Contact</a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">About</a>
      </li>
    </ul>
  </nav>
</header>
<div class="main">
    <div id="section1" class="row">
      <div class="imagediv col-1">
        <div class="oateyImagediv">
          <img src="../assets/Music-Store-Etsy-Shop-Icon-17.png" class="oateyImage" alt="Error loading image"/>
        </div>
        <!-- <div class="oateyImage"></div> -->
      </div>
      <div class="textDiv col-1">
        <p class="section1Title">Oatally Awesome !</p>
        <p class="section1body">
          Our solution to your dairy problems? This amazingly fresh plant based, Oat Beverage produced in India, which is completely dairy free, gluten free, nut free and guilt free! Save the world, save our animals and save your health all in one bottle of Oatey.
        </p>
      </div>
    </div>
    <div id="section2" class="row">
        <div class="col-1-3">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/Music-Store-Etsy-Shop-Icon-12.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <p class="section2text">100% Oats</p>
          </div>
        </div>
        <div class="col-1-3">
          <div class="section2ImageDiv">
            <img class="section2Image" src="../assets/Music-Store-Etsy-Shop-Icon-27.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <p class="section2text">Lactose Free</p>
          </div>
        </div>
        <div class="col-1-3">
          <div class="section2ImageDiv">
            <!-- <div class="section2Image2">
            </div> -->
            <img class="section2Image" src="../assets/Music-Store-Etsy-Shop-Icon-18.png" alt="Error Loading Image"/>
          </div>
          <div class="align-content-center">
            <p class="section2text">Preservative free</p>
          </div>
        </div>
      
    </div>
</div>