.oateyLogo {
  text-decoration: none;
  display: block;
  position: relative;
  width: 192px;
  height: 113px;
  left: 10px;
  top: 4px;
  padding-top: 10px;
  background: url(../../Icons/cropped-cropped-14-192x113.png);
  border-radius: 41px;
}

.navbar-ul {
  list-style-type: none;
  height: 115px;
  overflow: hidden;
  padding-inline-start: 10px;
  background-color: #f2f2f2;
}

.navbar-li {
  display: inline;
  float: left;
  align-content: center;
  padding-left: 20px;
}

.navbar-a {
  text-decoration: none;
  display: block;
  color: black;
  cursor: pointer;
  padding: 40px 10px;
  font-family: Comic Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 33px;
}

.navbar-a:hover {
  color: #8bc34a;
}
.navbar-a::selection {
  color: #8bc34a;
}

.imagediv {
  position: relative;
  width: 50%;
  display: inline-flex;
}

.row {
  display: inline-flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.col-1 {
  flex: 50%;
  float: left;
  align-items: center;
}

.oateyImagediv {
  size-adjust: inherit;
  display: inline-block;
}

.oateyImage {
  margin: 20%;
  width: 80%;
  height: 100%;
  border-radius: 136px;
}

/* .section1 {
  padding-top: 100px;
  padding-bottom: 100px;
} */

.col-1-3 {
  display: block;
  height: 300px;
  width: 33.33%;
}
/* section 2 image class */
.section2Image {
  margin: 20%;
  width: 250px;
  height: 250px;
  border-radius: 126px;
}

.section2ImageDiv {
  width: 100%;
  height: 80%;
  display: inline-block;
}
.textDiv {
  width: 50%;
  text-align: center;
  font-family: Comic Neue;
  text-align: center;
  display: inline-block;
}

.section1Title {
  font-style: normal;
  font-weight: bold;
  font-size: 77px;
  line-height: 89px;
}

.align-content-center {
  height: 20%;
  width: 100%;
}

.section2text {
  height: 100%;
  font-family: Comic Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
}

.section1body {
  font-family: Comic Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 33px;
  text-align: center;
}

.main {
  background-color: #e7f7e4;
  width: 100%;
  height: 100%;
}
