.oateyLogo {
  text-decoration: none;
  display: block;
  position: relative;
  width: 192px;
  height: 113px;
  left: 10px;
  top: 4px;
  padding-top: 10px;
  background: url(../../Icons/cropped-cropped-14-192x113.png);
  border-radius: 41px;
}

.navbar-ul {
  list-style-type: none;
  height: 115px;
  overflow: hidden;
  padding-inline-start: 10px;
  background-color: #f2f2f2;
}

.navbar-li {
  display: inline;
  float: left;
  align-content: center;
  padding-left: 20px;
}

.navbar-a {
  text-decoration: none;
  display: block;
  color: black;
  cursor: pointer;
  padding: 40px 10px;
  font-family: Comic Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 33px;
}

.navbar-a:hover {
  color: #8bc34a;
}
.navbar-a::selection {
  color: #8bc34a;
}

.imagediv {
  position: relative;
  width: 50%;
  display: inline;
}

.oateyImage {
  width: 500px;
  height: 500px;
  left: 150px;
  display: inline-block;
  top: 150px;
  background: url(../../Icons/Music-Store-Etsy-Shop-Icon-17.png);
  border-radius: 136px;
}

.section1 {
  padding-top: 100px;
  padding-bottom: 100px;
  display: inline;
}

.textDiv {
  width: 50%;
  text-align: center;
  font-family: Comic Neue;
  text-align: center;
  display: inline-block;
}

.section1Title {
  font-style: normal;
  font-weight: bold;
  font-size: 77px;
  line-height: 89px;
}

.section1body {
  font-family: Comic Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 33px;
  text-align: center;
}

.main {
  background-color: #e7f7e4;
  width: 100%;
  height: 100%;
}
