<header>
  <nav>
    <ul class="navbar-ul">
      <li class="navbar-li navbar-logo">
        <a href="default.asp" class="oateyLogo"></a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">Home</a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">News</a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">Contact</a>
      </li>
      <li class="navbar-li">
        <a href="#" class="navbar-a">About</a>
      </li>
    </ul>
  </nav>
</header>
<div class="main">
    <div class="section1">
      <div class="imagediv">
        <div class="oateyImage"></div>
      </div>
      <div class="textDiv">
        <p class="section1Title">Oatally Awesome !</p>
        <p class="section1body">
          Our solution to your dairy problems? This amazingly fresh plant based, Oat Beverage produced in India, which is completely dairy free, gluten free, nut free and guilt free! Save the world, save our animals and save your health all in one bottle of Oatey.
        </p>
      </div>
    </div>
</div>