.row {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.col-hf2 {
  width: 100%;
  /* display: block; */
  align-self: center;
  text-align: center;
}

.img-size {
  /* width: 70%;
  height: 100%; */
  justify-self: center;
  width: 60%;
}
