<div class="row">
    <!-- <div class="col-hf2">
        <form [formGroup]="blogForm" (ngSubmit)="OnSubmit()">
            <div>
                <label for="eventTitle">Event : </label>
                <input name="eventTitle" formControlName="eventTitle" placeholder="Event Title" type="text"/>
            </div>
            <div>
                <label for="eventDesc">Details :</label>
                <textarea name="eventDesc" formControlName="eventDesc" id="eventDesc" cols="100" rows="5"></textarea>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-danger" type="button" (click)="OnCancle()">Cancel</button>
            </div>
        </form>
    </div> -->
    <!-- <div *ngFor="let event of eventList.reverse(); let arrayIndex = index" class="col-hf2">
        <div class="row">
            <h2> {{event.eventTitle}}</h2>
        </div>
        <div class="row">
            <p> {{event.eventDesc}}</p>
        </div>
        <hr/>
    </div> -->
    <div class="col-hf2">
        <div class="row top-padding-10x">
            <h2>BEAT Cholesterol issues with Oatey!</h2>
        </div>
        <div class="row">
            <iframe class="videoFrame"src="https://www.youtube.com/embed/watch?v=oakWgLqCwUc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row textContent">
            <p>
                Do we really understand the MILK we drink everyday? Here's an awesome video to answer stuff we never questioned:
            </p>
            <div class="textAlignLeft">
                <ol>
                    <li>
                        Why we started drinking animal MILK? Evolutionary view
                    </li>
                    <li>
                        What is lactase, why does it drop with age? Lactose intolerance
                    </li>
                    <li>
                        Does animal milk cause: brittle bones, cancer, heart diseases?
                    </li>
                    <li>
                        Why is dairy milk bad for the Planet & how it causes suffering?
                    </li>
                    <li>
                        What is LAB milk & is that the future of all Milk?
                    </li>
                </ol>
            </div>
            <p>Ref : <a href="https://www.linkedin.com/feed/update/urn:li:activity:6910137853784059904/" target="_blank" rel="noreferrer noopener">Click to go to article</a></p>
            
        </div>
        <hr/>
    </div>
    <div class="col-hf2">
        <div class="row top-padding-10x">
            <h2>BEAT Cholesterol issues with Oatey!</h2>
        </div>
        <div class="row">
            <img class="img-size" src="../../assets/articlepic.jpg" alt="">
        </div>
        <div class="row textContent">
            <p>Did u know? Oat milk & Soya milk help lower your chances of heart diseases, strokes and atherosclerosis (deposit of fat on inner walls of arteries). </p>
            <p>
                OAT MILK consumption: Lowered plasma Cholesterol by 4% & LDL Cholesterol by 9% 
            </p>
            <p>
                In this study the effects of oat milk, soya milk and cow’s milk on plasma lipid, glucose, insulin, and antioxidant status were compared in 24 healthy men and women. Half of the subjects (group A) consumed 0.75–1 litres/day of oat milk & soya milk for 4 weeks each, and the other half (group B) consumed oat milk & cow’s milk for two 4-week periods. 
            </p>
            <p>
                It was found : the high content of βeta-glucans in oat milk was responsible for the decreased plasma cholesterol & LDL cholesterol concentrations. 
            </p>
            <p>
                It is concluded that oat milk can be used as an alternative to other milk drinks by subjects who would benefit from reduced LDL cholesterol values.
            </p>
            <p>Ref : <a href="https://www.linkedin.com/posts/oatey_effects-of-consumption-of-oat-milk-soya-activity-6904709262740738048-cRy1/" target="_blank" rel="noreferrer noopener">Click to go to article</a></p>
            <p>Ref : <a href="https://www.karger.com/Article/Abstract/12736" target="_blank" rel="noreferrer noopener">Click to go to research</a></p>
        </div>
        <hr/>
    </div>
    <div class="col-hf2">
        <div class="row">
            <h2>Hatti Kaapi and Oatey Come Together to Launch New Range of Vegan Beverages </h2>
        </div>
        <div class="row">
            <img class="img-size" src="https://www.theveganindians.com/wp-content/uploads/2021/10/haati-kaapi.jpg" alt="">
        </div>
        <div class="row textContent">
            <p>Bengaluru-based Hatti Kaapi, a homegrown coffee chain with outlets in several Indian cities, has launched a range of vegan filter coffee. </p>
            <p>
                The brand currently has 115 stores and is planning to expand their retail footprint to over 200 stores.
            </p>
            <p>
                Hatti Kaapi partnered with Oatey, an Indian oatmilk startup, to introduce an oatmilk-based range of vegan filter coffee and masala chai at their highly popular Indiranagar outlet and the newly-launched outlet inside the Bangalore Club.
            </p>
            <p>Ref : <a href="https://www.theveganindians.com/hatti-kaapi-and-oatey-come-together-to-launch-new-range-of-vegan-beverages/." target="_blank" rel="noreferrer noopener">Click to go to article</a></p>
        </div>
        <hr/>
    </div>
    <div class="col-hf2">
        <div class="row">
            <h2>Plant based Treaty</h2>
        </div>
        <div class="row">
            <img class="img-size" src="../../assets/1630820738485.jpg" alt="Error Loading">
        </div>
        <div class="row">
            <div class="textContent">
                <p>The climate crisis is accelerating at an unprecedented rate, scientists have warned. Organizations around the world have established initiatives to tackle the environmental emergency. One such effort is the Paris Agreement, which sees nearly 200 countries committing to reduce their emissions.</p>

                <p>
                    The Paris Agreement is undoubtedly an important step in reducing humankind’s impact on the planet. One campaign aims to extend the initiative by putting food systems at the forefront of the issue.
                </p>
                
                <p>Ref : <a href="https://www.linkedin.com/posts/dchakravarthy_climatechange-sustainability-environment-activity-6840157950607163392-earh/" target="_blank" rel="noreferrer noopener">Click to go to article</a></p>
            </div>
        </div>
        <hr/>
    </div>
</div>