<div class="section4">
    <div class="row">
      <div class="col-1-3">
        <div class="team-image-div">
          <img class="team-image" src="../assets/Ankush.jpg" alt="Error">
        </div>
        <div class="team-details">
          <p class="member-name"> Ankush Jamadagni </p>
          <p class="member-title"> Co-Founder </p>
          <p class="description"> An engineer from NIT - Surat (02-06) & a Masters from TISS - Mumbai (08-10). Corporate Brands, Cultures didn't quite push the comfort zones for him. With a passion for fitness, love for the planet, its animals, & lastly, an obsession with the road less traveled, OATEY was born. Ankush is also a biohacker, #weekdayvegan & holds a professional diploma in weight loss & sports nutrition level 1. His daughter Inaaya, sustainability & wellness spaces, keeps Ankush ticking.</p>
        </div>
      </div>
      <div class="col-1-3">
        <div class="team-image-div">
          <img class="team-image" src="../assets/prashant.JPG" alt="Error"/>
        </div>
        <div class="team-details">
          <p class="member-name"> Prashant Chauhan</p>
          <p class="member-title"> Co-Founder </p>
          <p class="description">2 decades of experience in Sales, Distribution, Operations, Finance & Accounts, makes Prashant a humble master of all trades. Having grown corporate & family businesses, it was time for him to show some love to OATEY. Oh yes, Prashant is the most eligible bachelor of the team. Having run his family distributor business along with his multi hatted corporate stints makes Prashant a seasoned 'Gujarati Engine' of business operations & finance machinery</p>
        </div>
      </div>
    </div>
  </div>
